.wrapper {
  margin: 0 auto;
  height: 90vh;
  width: 90vw;
}

.int {
  width: 900px !important;
  border: 2px solid rgb(190, 184, 184);
  border-radius: 20px;
  height: 40px;
}

.go {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  right: 30px;
}

.go:hover {
  color: rgb(249, 251, 255);
  background-color: rgb(87, 80, 86);
}
